[submodule "themes/material-lite"]
	path = themes/material-lite
	url = https://github.com/SamuelDebruyn/hugo-material-lite.git
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
